html
  head
    link(href="css/contents-main.css" rel="stylesheet")
    
    script(src="https://unpkg.com/react@16/umd/react.production.min.js" type="text/javascript" crossorigin="")
    script(src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" type="text/javascript" crossorigin="")
    script(src="react/forms.js" type="text/javascript" defer="")
    body.
        <h1>"Hello world" and repeat it again, because it is important things.</h1>
        <div id="react"></div>

    